name: Auto Merge

on:
  check_suite:
    types: [completed]

jobs:
  automerge:
    if: github.event.check_suite.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Enable auto merge
        run: gh pr merge --auto --squash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
