name: Deploy to Vercel

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: npm install -g vercel

      - name: Deploy Preview
        if: github.event_name == 'pull_request'
        run: vercel --yes --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Production
        if: github.event_name == 'push'
        run: vercel --prod --yes --token=${{ secrets.VERCEL_TOKEN }}
